:root {
	--navy: #19345d;
	--saffron: #d97a2c;
	--gold: #c0a06d;
	--dark: #333333;
	--transparent-dark: #33333396;
	--white: #ffffff;
}

@import url("/Index/index.css");

#viewer{
	height: 110%;
	width: 110%;
	object-fit: cover;
    position: relative;
    top: -7%;
	background-color: var(--transparent-dark);
}

.vt-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.vt-item {
	height: 55vh;
	width: 20vw;
	background-color: var(--transparent-dark);
	border-radius: 15px;
	background-color: var(--navy);
}
.vt-item img {
	border-radius: 15px 15px 0 0;
	height: 50%;
	width: 100%;
	object-fit: cover;
}
.vt-item-text {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0.7rem;
	gap: 0.5rem;
}
.vt-title {
	color: var(--gold);
	font-size: 1.2rem;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
}
.vt-description {
	color: var(--white);
	font-size: 0.9rem;
	font-family: "Montserrat", sans-serif;
}
.vt-button {
	background-color: var(--saffron);
	color: var(--navy);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 30px;
	font-family: "Oswald", sans-serif;
	font-size: 1rem;
	cursor: pointer;
	margin: auto;
    margin-bottom: 2rem;
}
.vt-button:hover {
	background-color: var(--dark);
	color: var(--gold);
	transition: 0.3s;
}

/* Lightbox Overlay */
.vt-lightbox {
	display: none; /* hidden by default */
	position: fixed;
	inset: 0;
	background: var(--transparent-dark);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

/* Lightbox Content */
.vt-lightbox-content {
	position: relative;
	background: var(--transparent-dark); /* semi-dark for depth */
	padding: 1rem;
	border-radius: 15px;
	max-width: 90%;
	max-height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
}

/* Iframe container */
.vt-iframe-container iframe {
	width: 80vw;
	height: 70vh;
	border: 0;
	border-radius: 12px;
}

/* Close Button */
.vt-close {
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 28px;
	font-weight: bold;
	color: var(--gold);
	background: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}
.vt-close:hover {
	transform: scale(1.2);
	color: var(--saffron);
}
.vt-lightbox-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.vt-prev, .vt-next {
	margin: 12px;
	padding: 0.6rem 1.4rem;
	font-size: 1rem;
	border: none;
	border-radius: 30px;
	background: var(--saffron);
	color: var(--navy);
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
}
.vt-prev:hover, .vt-next:hover {
	background: var(--dark);
	color: var(--gold);
}
