#viewer{
    background-color: black;
}

.archives{
    margin-top: 2rem;
}

.artifacts{
    margin-top: 2rem;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
.artifacts h1{
    font-size: 2.5rem;
    color: var(--navy);
    text-align: center;
}
.artifacts h3{
    font-size: 1rem;
    color: var(--navy);
    text-align: center;
}
.artifacts-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;
    height: max-content;
}
.artifacts-tab{
    width: 300px;
    height: 350px;
    border: 3px solid var(--gold);
    background-color: var(--navy);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.artifacts-tab:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.389);
}
.artifacts-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 17px 17px 0 0;
}
.artifacts-tab-text{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
}
.artifacts-tab-title{
    font-size: 1.3rem;
    color: var(--gold);
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}
.artifacts-tab-desc{
    font-size: 0.9rem;
    color: white;
    line-height: 1.2rem;
    font-family: "Merriweather", sans-serif;
}